<form method="POST" action="#">
    {{#personalProfile}}
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </br>
    <input class="first" type="text" name="first" value="{{first}}" placeholder="{{first}}" autocomplete="off">
    </br>
    <input class="last" type="text" name="last" value="{{last}}" placeholder="{{last}}" autocomplete="off">
    </br>
    <input type="email" name="email" value="{{email}}" placeholder="{{email}}" autocomplete="off">
    </br>
    {{!-- password is a special case: // not empty!! --}}
    <input type="password" name="password" value="{{password}}" placeholder="" autocomplete="off">
    </br>
    {{!-- these are not placeholders: --}}
    <input type="text" name="age" value="{{age}}" placeholder="{{age}}">
    </br>
    <input type="text" name="city" value="{{city}}" placeholder="{{city}}">
    </br>
    <input type="text" name="url" value="{{url}}" placeholder="{{url}}">
    {{/personalProfile}}
    <button id="submit" name="submit" value="submit"> Update </submit>
</form>