<div class="page">
    {{!-- <img class="pic5" src="/pic5.jpg" alt="background picture"> --}}
    <div class="in">
        <div class="list">
            <h2>List of people who joined us:</h2>
            <ul>
                {{#list}}
                <li>
                    {{#if url}}
                    <a href={{url}}>
                        {{first}} {{last}}
                    </a>
                    {{else}}
                    {{first}} {{last}}
                    {{/if}}
                    {{#if age}}
                    , {{age}}
                    {{/if}}
                    {{#if city}}
                    <a href="/signers/{{city}}">{{city}}</a>
                    {{/if}}
                </li>
                {{/list}}
            </ul>
        </div>
        <div class="list1">
            <ul>
                {{#if allFromThisCity}}
                {{#allFromThisCity}}
                <li>{{first}} {{last}} </li>
                {{/allFromThisCity}}
                {{/if}}
            </ul>
        </div>
    </div>
</div>